* {
	padding:0px; 
	margin:0px;
}

body {
	padding-top:20px;
	padding-bottom:20px;
}

.form-custom {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

.form-custom .form-custom-heading, .form-custom .checkbox {
    margin-bottom: 10px;
}

.form-custom input.input-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

.form-custom input.input-middle {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

.form-custom input.input-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

.form-custom .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}

/* fonts and other common stuff */
.vlarge { font-size:40pt; }
.cntr { text-align:center; }
.large { font-size:20pt;}
.large-link, a.large-link { padding:10px; background:green; color:#fff; border-radius: 10px;}
.faded { color: #bbb;}
.small { font-size:10pt; }
.a { text-decoration:none; cursor:pointer; }
.errbox {font-size:10pt; border:1px solid #aaa;}
.w200 { width:200px; }
.dispinlineblock { display : inline-block;}
.clear { clear:both; }
.fleft { float:left; }
.fright { float:right; }
.p10 { padding: 10px; } 
